html{
  height: 100%;

}
body {
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  margin: 0px;
  padding: 0px;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18px;
   overflow: scroll;
}


.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 16px;
}
  
.btn-lg {
  font-size: 14px;
  line-height: 1.33;
  border-radius: 6px;
}


.btn.outline {
    background: none;
    padding: 12px 22px;
}
.btn-primary.outline {
    border: 2px solid black;
    color: black;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: black;
    border-color: black;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: black;
    color: black;
    box-shadow: none;
}


h2 { 
  font-weight: -100px;
  text-align: center;
   position: absolute; 
   top: 200px; 
   left: 0px; 
   width: 100%; 
}
h2 span { 
   color: white; 
   font: bold 60px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
}
.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn-lg {
    position:absolute;
    bottom:20%;
    right:40%;
    width:200px;
    height:50px;
}


h1{
  text-align: center;

}

h3{
    text-align: center;
}




.about{ 
  width: 100%;
  margin-bottom: 10%;
  padding-bottom: 10%;  
}

.btn-primary{
  color: black;
}
.btn-primary a:visited {
  color:black;
}

.projects{
  margin-top: 0%;

}


.text{
  color: black;
  font-size: 24px;
}
.icon1{
  position: absolute;
  right:16%;
}
.icon2{
  position: absolute;
  right:13%;
}
.icon3{
  position: absolute;
  right:10%;
}
.icon4{
  position: absolute;
  right:7%;
}
.icon5{
  position: absolute;
  right:4%;
}
.icon6{
  position: absolute;
  right:1%;
}
.about-text{
  margin-right: 3%;
}

.banner{
  position:fixed;
  top:0;
  left:-50%;
  width:200%;
  height:100%;
}
.banner img{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
  padding-bottom: 20%;
}
.glyphicon-chevron-down{
  font-size: 50px;
  position: absolute;
  top:80%;
  right: 50%;
}
.glyphicon-chevron-down:hover{
  font-size: 56px;
  text-shadow: 7px 7px 10px gray;

}
a {
  color:black;
}
.about{
  margin: 0;
  padding-top: 50%;
  background:#d6dddf;
  height: 500px;
  width: 100%;
}
.heading{
  font-size: 32px;
}
