
.banner {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}
video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(15px);
}
.btn.outline {
    background: none;
    padding: 12px 22px;
}
.btn-primary.outline {
    position: absolute;
    border: 2px solid #0099cc;
    color: white;
    top: 75%;
    right: 45%;
}
.highlight{
    position: absolute;
    top: 40%;
    right: 20%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 3px 5px;
    margin: -3px -5px;
    line-height: 1.7;
    border-radius: 3px;
    display:inline-block;
}
.glyphicon-menu-down{
    position: absolute;
    top:90%;
    right: 49%;
    font-size:50px;
    color: black;
}